body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: #f6f6f6;
        height: 100%;
        width: 100%;
        color: white;
        
    }
    

    header{
        padding: 30px;
        margin: 20px;
        /* background-color: rgb(20, 12, 136); */
        width: 190vh;
        margin-top: -3vb;
        
    }
    
    header .container{
        display: flex;
        flex-direction: row;
        justify-content: end;
        height: 7vb;
        background-color: #2a2081;
        margin-top: -30px;
        width: 195.5vh;
        margin-left: -2vh;
        box-shadow: 13px 7px 18px #342518, -1px 10px 15px;
    }
    
    .foto_logo {
        width: 20vh;
        display: flex;
        height: 3vw;
        position: relative;
        left: -121vh;
        top: -11.2ch;
    }
    .nome_site {
        width: 20vh;
        display: flex;
        font-family: "Ga Maamli", sans-serif;
        font-size: 30px;
        font-style: normal;
        position: relative;
        color: #ffffff;
        margin-left: -51vw;
        top: -5.5vh;
    }
    
    .botao2 {
        margin: 10px;
        position: relative;
        bottom: 0vh;
        right: 8vh;
        margin-top: 10px;
        width: 8vw;
        padding: 14px;
        border: none;
        color: black;
        font-size: 16px;
        cursor: pointer;
        border-radius: 50px;
        background: #ffffff;
        box-shadow: inset 20px 20px 60px #dacec4, inset -20px -20px 60px #bbb3ad;
    }
    

.cadastro {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-left: 30px;
    height: 70vh; 
    width: 195.5vh;
    background-image: url('../assets/Fotos/pexels-anete-lusina-4791265.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; /* Adicionado para centralizar a imagem */
    box-shadow: 24px 7px 21px #342518, -9px -6px 14px #644930;
}

    .cadastro .container {
    padding: 20px; 
    border-radius: 20px;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);  */
    width: 300px; 
    margin-top: 40px;
    }

 .campo { 
    margin-bottom: 15px; 
} 
.campo span { 
    display: block; 
    font-weight: bold; 
    margin-bottom: 5px; 
    color: white;
    font-size: 23px;
} 

 .campo input, .campo select {
     width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc;
     border-radius: 5px; 
    }

  .campo input:focus, .campo select:focus { 
    border-color: #422a1a;
     outline: none; 
    } 

  .botao { 
    margin-top: 10px;
    width: 5vw; 
    padding: 10px;  
    border: none; 
     color: white;
      font-size: 16px; 
      cursor: pointer; 
      border-radius: 50px;
background: #392414;
box-shadow: inset 20px 20px 60px #301f11,
            inset -20px -20px 60px #422917;
}

   .botao:hover { 
    background-color: #45a049;
}

button:active { 
    background-color: #3e8e41; /* Cor de fundo ao clicar */
     box-shadow: 0 5px #666; /* Sombra ao clicar */ 
     transform: translateY(4px); /* Efeito de pressão ao clicar */
}


.footer{
    display: flex;
    /* flex-direction: row; */
    
    background-color: #2a2081;
    margin-top: 5vh;
    width: 196vh;
    margin-left: 3vh;
    color: #ffffff;
    justify-content: center;

}