body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f6f6;
    height: 100%;
    width: 100%;
    color: white;

}

.foto_saida {
    height: 55px;
    width: 82px;
    display: flex;
    position: relative;
    top: 8px;
}

header {
    padding: 30px;
    margin: 20px;
    /* background-color: rgb(20, 12, 136); */
    width: 190vh;
    margin-top: 1vb;

}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 7vb;
    background-color: #2a2081;
    margin-top: -6px;
    width: 195.5vh;
    margin-left: -2vh;
    box-shadow: 13px 7px 18px #342518, -1px 10px 15px
}


.foto_logo {
    display: flex;
    height: 3vw;
    position: relative;
    left: -157vh;
    top: -15.4ch;
}

.nome_site {
    display: flex;
    font-family: "Ga Maamli", sans-serif;
    font-size: 30px;
    font-style: normal;
    position: relative;
    color: #ffffff;
    margin-left: -68vw;
    top: -41px;
    width: 200px;
}

.campo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centraliza horizontalmente */
    position: relative;
    width: 100%; /* Ajusta para 100% para melhor responsividade */
    max-width: 500px; /* Define uma largura máxima para o campo */
    margin: auto; /* Centraliza verticalmente */
    margin-bottom: 15px; /* Espaçamento inferior */
    padding: 20px; /* Adiciona padding para melhor espaçamento interno */
    background: linear-gradient(135deg, #3f1a0b, #F5DEB3); /* Gradiente de marrom e bege */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
}

.campo span {
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
    font-size: 23px;
    text-align: center; /* Centraliza o texto dentro do span */
}


.campo input,
.campo select {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.campo input:focus,
.campo select:focus {
    border-color: #422a1a;
    outline: none;
}

.botao { 
    margin-top: 10px;
    width: 5vw; 
    padding: 10px;  
    border: none; 
     color: white;
      font-size: 16px; 
      cursor: pointer; 
      border-radius: 50px;
background: #392414;
box-shadow: inset 20px 20px 60px #301f11,
            inset -20px -20px 60px #422917;
}

   .botao:hover { 
    background-color: #45a049;
}

button:active { 
    background-color: #3e8e41; /* Cor de fundo ao clicar */
     box-shadow: 0 5px #666; /* Sombra ao clicar */ 
     transform: translateY(4px); /* Efeito de pressão ao clicar */
}

.botao2 {
   position: relative;
   bottom: 10vh;
   right: 90vh;
    margin-top: 10px;
    width: 5vw;
    padding: 10px;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: inset 20px 20px 60px #dacec4,
        inset -20px -20px 60px #bbb3ad;
}

.botao2:hover {
    background-color: #45a049;
}


.footer {
    display: flex;
    /* flex-direction: row; */

    background-color: #2a2081;
    margin-top: 20vh;
    width: 196vh;
    margin-left: 3vh;
    color: #ffffff;
    justify-content: center;

}

#div_mensagem {
    display: flex;
   justify-content: center;
    color: #45a049;
}